body {
  height: 70vh;
  text-align: center;
}

.innerContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 25px;
}
.div2 {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 25px;
}
.div3 {
  height: 100px;
  width: 100px;
  background-color: darkcyan;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 25px;
}
.div4 {
  height: 100px;
  width: 100px;
  background-color: deeppink;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 25px;
}
.div5 {
  height: 100px;
  width: 100px;
  background-color: powderblue;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 25px;
}

#resetButton {
  padding: 15px;
  border: none;
  font-weight: bolder;
   background-color:blue;
   color:#fff;
  border-radius: 10px;
}
